@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root {
    --cor-primaria: #3282B8;
    --cor-secundaria: #1B262C;
    --cor-tercenaria: #F4F4F4;

    --texto-primario: "Playfair Display", serif;
}
* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    background-repeat: no-repeat;
    background-size: cover;
}


/* CABEÇALHO PRINCIPAL */

.cabecalho {
    padding: 1% 10% 1% 11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__menu {
    font-family: var(--texto-primario);
    font-size: 1.5rem;
    font-weight: 378;
    display: flex;
    gap: 15px;
}

.cabecalho__link {
    font-size: 1.15rem; /* Tamanho da fonte */
    padding: 12px; /* Espaçamento interno */
    text-decoration: none; /* Remove a linha do link */
    color: var(--cor-secundaria); /* Cor do link */
    position: relative; /* Necessário para posicionar a linha */
    transition: color 0.3s ease; /* Transição suave na cor */
}

.cabecalho__link:hover {
    color: var(--cor-tercenaria); /* Cor do link ao passar o mouse */
}

.cabecalho__link:hover::after {
    content: ''; /* Cria um elemento vazio */
    position: absolute;
    bottom: -1px; /* Distância entre o texto e a linha */
    left: 0px;
    width: 100%;
    height: 2px; /* Espessura da linha */
    background-color: var(--cor-tercenaria); /* Cor da linha */
}

.btn-rede_social { 
    display: flex;
    gap: 30px;
    transition: 2s;
}

.bnt-rede_social_secundario {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    height: 35px;
    left: 50px;
}

.bnt-rede_social_secundario:hover { 
    transform: scale(1.02);
    display: inline-block;
}

/* FIM CABEÇALHO */

.conteudo-principal {  
    display: flex;
    align-items: flex-start;
    justify-content: space-between;  
    padding: 82px;
}

.conteudo_secundario {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo-blog {
    font-size: 2.5rem;
    font-weight: 40;
    font-family: var(--texto-primario);
    color: var(--cor-secundaria);
}
 
.titulo-destaque {
    font-size: 2.5rem;
    font-family: var(--texto-primario);
    font-weight: 40;
    color: var(--cor-tercenaria);
}


.texto-destaque {
    font-size: 1rem;
    font-family: var(--texto-primario);
    font-weight: 400;
    color: var(--cor-tercenaria);
    
}

.perfil {
    width: 40%;
}

.rodape {
    text-align: center;
    padding: 20px;
    background-color: var(--cor-tercenaria);
    color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    font-family: var(--texto-primario);
    font-size: 1rem;
}

.rodape__descricao {
    padding: 1px;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .conteudo-principal {
         flex-direction: column-reverse;
         padding: 5%;

    }

    .conteudo_secundario {
        width: auto;
    }
}
 
